<div class="container">
  <div class="left-column">
    <app-world
      (name)="onNameChange($event)"
      (capital)="onCapitalChange($event)"
      (region)="onRegionChange($event)"
      (income)="onIncomeChange($event)"
      (latitude)="onLatitudeChange($event)"
      (longitude)="onLongitudeChange($event)"
      >></app-world
    >
  </div>
  <div class="right-column">
    <app-world-info
      [name]="name"
      [capital]="capital"
      [region]="region"
      [income]="income"
      [latitude]="latitude"
      [longitude]="longitude"
      >></app-world-info
    >
  </div>
</div>

<footer class="text-center text-xs">
  Information Provided By :
  <a href="https://www.worldbank.org/en/home">The World Bank</a>
</footer>
